header{
    background-color: #1e79d4;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
main{
    background-color: aqua;
    padding: 20px;
}
.board{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(231, 225, 225);
}