header{
    background-color: #0d2e50;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
main{
    background-color: rgb(16, 221, 221);
    padding: 20px;
}
#board{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: 0 auto;
    background-color: rgb(195, 187, 187);
    height: 300px;
}
.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}
.tile{
    background-color: white;
    border: #5f6264 2px solid;
    height: 25px;
    width: 25px;
}