header{
    background-color: #1e79d4;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
main{
    background-color: aqua;
    padding: 20px;
}
.board{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(124, 118, 118);
    height: 300px;
}
.rows{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}
.tile{
    background-color: white;
    border: #5f6264 2px solid;
    height: 25px;
    width: 25px;
}